.adv-section {
    border: 1px #000 solid;
}

.nav-chat {
    .nav-item {
        margin: 0;
        width : 50%;
    }
    .nav-link {
        // padding: 2px 5px;
    }
}

.cabinet-page {
    width: 100%;
    max-width: 1000px;
    margin: 150px auto 0 auto;
    img .avatar-img {
        width: 100%;
    }
}

.main-wrap {
    width: 100%;
    display: flex;
}