.adv-section {
    border: 1px #000 solid;
}

.nav-chat {
    .nav-item {
        margin: 0;
        width : 50%;
    }
    .nav-link {
        // padding: 2px 5px;
    }
}

.cabinet-page {
    width: 100%;
    max-width: 1000px;
    margin: 150px auto 0 auto;
    img .avatar-img {
        width: 100%;
    }
}

.main-wrap {
    width: 100%;
    display: flex;
}

.achivement-panel {
    border: 1px #777 solid;
    border-radius: 2px;
    h4, h5 {
        text-align: center;
    }
    .avatar {
        width: 100%;
        height: 300px;
        background: url('../../../public/images/Achievement_Hunter_icon.png') no-repeat center center;
    }
}

.achivement-block {
    padding: 15px;
}

.directory-streamers{
    min-width: 330px;
}

.time-picker {
    display: inline-block;
    position: relative;
    font-size: 1em;
    width: 10em;
    font-family: sans-serif;
    vertical-align: middle;
  }
  
  .time-picker * {
    box-sizing: border-box;
  }
  
  .time-picker input.display-time {
    border: 1px solid #d2d2d2;
    width: 10em;
    height: 2.2em;
    padding: 0.3em 0.5em;
    font-size: 1em;
  }
  
  .time-picker .clear-btn {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    margin-top: -0.15em;
    z-index: 3;
    font-size: 1.1em;
    line-height: 1em;
    vertical-align: middle;
    width: 1.3em;
    color: #d2d2d2;
    background: rgba(255,255,255,0);
    text-align: center;
    font-style: normal;
  
    -webkit-transition: color .2s;
    transition: color .2s;
  }
  
  .time-picker .clear-btn:hover {
    color: #797979;
    cursor: pointer;
  }
  
  .time-picker .time-picker-overlay {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .time-picker .dropdown {
    position: absolute;
    z-index: 5;
    top: calc(2.2em + 2px);
    left: 0;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0,0,0,0.15);
    width: 10em;
    height: 10em;
    font-weight: normal;
  }
  
  .time-picker .dropdown .select-list {
    width: 10em;
    height: 10em;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: space-between;
  }
  
  .time-picker .dropdown ul {
    padding: 0;
    margin: 0;
    list-style: none;
  
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .time-picker .dropdown ul.minutes,
  .time-picker .dropdown ul.seconds,
  .time-picker .dropdown ul.apms{
    border-left: 1px solid #fff;
  }
  
  .time-picker .dropdown ul li {
    text-align: center;
    padding: 0.3em 0;
    color: #161616;
  }
  
  .time-picker .dropdown ul li:not(.hint):hover {
    background: rgba(0,0,0,.08);
    color: #161616;
    cursor: pointer;
  }
  
  .time-picker .dropdown ul li.active,
  .time-picker .dropdown ul li.active:hover {
    background: #41B883;
    color: #fff;
  }
  
  .time-picker .dropdown .hint {
    color: #a5a5a5;
    cursor: default;
    font-size: 0.8em;
  }

.edit-modal-back {
    position: fixed;
    width: 100%;
    height: 100%;
    background : rgba(0,0,0, .5);
    top: 0;
    left: 0;
}

.edit-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    border: 1px 777 solid;
    background : #fff;
    border-radius: 5px;
    padding: 10px;
    .time-label {
        width: 50px;
    }
}

.streams-block {
    width: 85%;
    margin-top: 250px;
    >h2 {
        text-align: center;
    }
}