.adv-section {
    border: 1px #000 solid;
}

.nav-chat {
    .nav-item {
        margin: 0;
        width : 50%;
    }
    .nav-link {
        // padding: 2px 5px;
    }
}

.cabinet-page {
    width: 100%;
    max-width: 1000px;
    margin: 150px auto 0 auto;
    img .avatar-img {
        width: 100%;
    }
    .cabinet-prizes {
        >h2 {
            text-align: center;
            margin-top: 30px;
        }
        >div{
            display: inline-block;
            width: 100px;
            height: 300px;
            margin: 10px;
            >img {
                width: 100px;
                display: block;
                margin: 0 auto;
            }
            >h5 {
                text-align: center;
            }
        }
    }
}

.main-wrap {
    width: 100%;
    display: flex;
}

.achivement-panel {
    border: 1px #777 solid;
    border-radius: 2px;
    h4, h5 {
        text-align: center;
    }
    .avatar {
        width: 100%;
        height: 300px;
        background: url('../../../public/images/Achievement_Hunter_icon.png') no-repeat center center;
    }
}

.achivement-block {
    padding: 15px;
}

.directory-streamers{
    min-width: 330px;
}

.time-picker {
    display: inline-block;
    position: relative;
    font-size: 1em;
    width: 10em;
    font-family: sans-serif;
    vertical-align: middle;
  }
  
  .time-picker * {
    box-sizing: border-box;
  }
  
  .time-picker input.display-time {
    border: 1px solid #d2d2d2;
    width: 10em;
    height: 2.2em;
    padding: 0.3em 0.5em;
    font-size: 1em;
  }
  
  .time-picker .clear-btn {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    margin-top: -0.15em;
    z-index: 3;
    font-size: 1.1em;
    line-height: 1em;
    vertical-align: middle;
    width: 1.3em;
    color: #d2d2d2;
    background: rgba(255,255,255,0);
    text-align: center;
    font-style: normal;
  
    -webkit-transition: color .2s;
    transition: color .2s;
  }
  
  .time-picker .clear-btn:hover {
    color: #797979;
    cursor: pointer;
  }
  
  .time-picker .time-picker-overlay {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .time-picker .dropdown {
    position: absolute;
    z-index: 5;
    top: calc(2.2em + 2px);
    left: 0;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0,0,0,0.15);
    width: 10em;
    height: 10em;
    font-weight: normal;
  }
  
  .time-picker .dropdown .select-list {
    width: 10em;
    height: 10em;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: space-between;
  }
  
  .time-picker .dropdown ul {
    padding: 0;
    margin: 0;
    list-style: none;
  
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .time-picker .dropdown ul.minutes,
  .time-picker .dropdown ul.seconds,
  .time-picker .dropdown ul.apms{
    border-left: 1px solid #fff;
  }
  
  .time-picker .dropdown ul li {
    text-align: center;
    padding: 0.3em 0;
    color: #161616;
  }
  
  .time-picker .dropdown ul li:not(.hint):hover {
    background: rgba(0,0,0,.08);
    color: #161616;
    cursor: pointer;
  }
  
  .time-picker .dropdown ul li.active,
  .time-picker .dropdown ul li.active:hover {
    background: #41B883;
    color: #fff;
  }
  
  .time-picker .dropdown .hint {
    color: #a5a5a5;
    cursor: default;
    font-size: 0.8em;
  }

.edit-modal-back {
    position: fixed;
    width: 100%;
    height: 100%;
    background : rgba(0,0,0, .5);
    top: 0;
    left: 0;
}

.edit-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    border: 1px 777 solid;
    background : #fff;
    border-radius: 5px;
    padding: 10px;
    .time-label {
        width: 50px;
    }
}

.streams-block {
    width: 85%;
    margin-top: 150px;
    >h2 {
        text-align: center;
    }
}

.mycards{
    max-width: 1200px;
    .cards{
        display: flex;
        margin: 10px auto 30px auto;
        .action-block {
            margin: 5px auto;
            width: 100px;
            >span {
                font-size: 18px;
                line-height: 1.6;
            }
        }
    }
    .frames, .heroes, .achivements {
        >h3{
            text-decoration: underline;
        }
        >label {
            display: block;
            position: relative;
            cursor: pointer;
            >img{
                width: 100px;
                display: block;
                margin: 10px auto 5px auto;
            }
            >p {
                font-size: 18px;
                text-align: center;
                padding: 0;
            }
            >input {
                display: none;
            }
            >i {
                display: none;
                font-size: 30px;
                position: absolute;
                right: 20px;
                top: 50%;
                margin-top: -20px;
            }
            >input:checked+i{
                display: inline-block;
            }
        }
    }
    .create-card-but {
        margin: 10px auto 0 auto;
    }
    .preview {
        >h3{
            text-decoration: underline;
        }
        >button{ margin-left: 50px;}
    }
}

.roulette-welcome {
    text-align: center;
    label {
        display: inline-block;
        height: 100px;
        width: 100px;
        text-align: center;
        line-height: 40px;
        margin: 10px 50px;
        color: #fff;
        font-size: 23px;
        border-radius: 10px;
        background: rgb(44, 139, 146);
    }
    input {
        display: none;
    }
    input:checked+label {
        background: rgb(44, 146, 52);
    }
    button {
        display: block;
        margin: 0 auto;
    }
}

.roulette-stoped {
    width: 320px;
    margin: 0 auto;
}

.roulette-right-nav {
    text-align: center;
    .menu-dropdown {
        margin: 10px 0 0 0;
        height: 45px;
    }
}

.shop {
    width: 85%;
    margin-top: 150px;
    >h1 {
        text-align: center;
    }
    h2 {
        text-align: center;
        text-decoration: underline;
    }
    .diamonds {
        text-align: center;
        font-size: 20px;
        height: 40px;
        >span {
            display: inline-block;
            width: 150px;
        }
        form {
            display: inline-block;
        }
    }
    .cases {
        >img {
            width: 200px;
            height: 150px;
        }
        >button {
            width: 100px;
            margin-left: 20px;
        }
    }

    .shop-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        .shop-box {
            position: fixed;
            top: 150px;
            left: 50%;
            width: 600px;
            margin-left: -300px;
            background: #fff;
            padding: 20px;
            border-radius:20px;
            h2, h3, h5 {
                text-align: center;
            }
            button {
                display: block;
                margin: 10px auto;
            }
        }
        .case-box {
            >img {
                display: block;
                margin: 0 auto;
                width: 400px;
            }
        }
        .items-box {
            >div{
                display: inline-block;
                width: 100px;
                >img {
                    width: 100px;
                }
            }
        }
    }
}

.custom-donate {
    width: 100%;
    max-width: 1000px;
    margin: 150px auto 0 auto;
    >h1, h2 {
        text-align: center;
    }
    .preview {
        border: 1px #333 solid;
        position: relative;
        height: 600px;
        >img {
            width: 100%;
            height: 100%;
        }
        .header {
            border: 1px #333 solid;
            // margin: 200px auto 0 auto;
            height: 200px;
            width: 600px;
            overflow: hidden;
            position: absolute;
            top: 10%;
            left: 50%;
            margin-left: - 300px;
            >img{
                width: 100%;
                height: 100%;
            }
            >img.avatar {
                border-radius: 50%;
                width: 100px;
                height: 100px;
                position: absolute;
                left: 20px;
                bottom: -20px;
            }
            >span {
                position: absolute;
                left: 130px;
                bottom: 0;
                text-shadow: 0px 0px 1px rgba(255, 255, 255, 1);
                display: inline-block;
                background: #fff;
                padding: 2px 10px;
                border-radius: 10px 10px 0 0;
            }
        }
        .form {
            top: 10%;
            left: 50%;
            margin-left: - 300px;
            margin-top: 200px;
            position: absolute;
            background: #fff;
            border: 1px #333 solid;
            height: 300px;
            width: 600px;
            >h3{
                margin: 100px 0 20px 0;
                text-align: center;
            }
            >h5 {
                text-align: center;
            }
        }
    }
}

.donate-page {
    position: relative;
    width: 100%;
    height: 900px;
    .back-image {
        width: 100%;
        height: 100%;
    }
    .box {
        top: 20%;
        left: 50%;
        margin-left: - 300px;
        width: 600px;
        background: #fff;
        position: absolute;
        padding: 20px;
        border-radius: 10px;
        .header {
            position: relative;
            width: 100%;
            height: 200px;
            overflow: hidden;
            img.back-front {
                width: 100%;
                height: 100%;
            }
            img.avatar{
                border-radius: 50%;
                width: 100px;
                height: 100px;
                position: absolute;
                left: 20px;
                bottom: -20px;
            }
            >p {
                position: absolute;
                left: 130px;
                bottom: 0;
                text-shadow: 0px 0px 1px rgba(255, 255, 255, 1);
                display: inline-block;
                background: #fff;
                padding: 2px 10px;
                border-radius: 10px 10px 0 0;
                margin: 0;
            }
        }
    }
}